CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

src/parse/.antlr

build/
cmake-build-debug/

.vscode/
.idea/
.DS_Store

test/
*.o
*.obj
*.d
*.so
*.dylib
*.a
*.lib
*.exp
*.ilk
*.pdb
*.manifest
*.gch
*.pch
*.gcno
*.gcda
*.cpp.d
*.dll
*.exe
*.exe.stackdump
*.exe.map
*.exe.manifest
*.exe.exp
*.exe.lib
*.exe.pdb
*.exe.ilk
*.exe.gcno
*.exe.gcda